@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Compasso";
	src: url("/compasso/compasso-vf.woff2?url") format("woff2");
	font-weight: 100 900;
	font-display: swap;
}

/*
VIOLET
*/
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 262.1 83.3% 57.8%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 262.1 83.3% 57.8%;
		--radius: 0.75rem;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 256 85% 57%;
		--primary-foreground: 210 20% 98%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 263.4 70% 50.4%;
	}
}

/* @layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 221.2 83.2% 53.3%;
		--radius: 1rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 222.2 47.4% 97.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 224.3 76.3% 48%;
	}
} */

/*

PRETO E BRANCO

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.75rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}
*/
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

body {
	font-family: "Compasso";
}

.bg-idea {
	@apply bg-idea-500 text-idea-100;
}
.bg-do {
	@apply bg-do-600 text-do-100;
}
.bg-doing {
	@apply bg-doing-500 text-doing-100;
}
.bg-review {
	@apply bg-review-500 text-review-100;
}
.bg-done {
	@apply bg-done-500 text-done-100;
}
.bg-finished {
	@apply bg-finished-500 text-finished-100;
}

.hover-bg-idea {
	@apply hover:bg-idea-700;
}
.hover-bg-do {
	@apply hover:bg-do-700;
}
.hover-bg-doing {
	@apply hover:bg-doing-700;
}
.hover-bg-review {
	@apply hover:bg-review-700;
}
.hover-bg-done {
	@apply hover:bg-done-700;
}
.hover-bg-finished {
	@apply hover:bg-finished-700;
}

.border-idea {
	@apply border-idea-500;
}
.border-do {
	@apply border-do-600;
}
.border-doing {
	@apply border-doing-500;
}
.border-review {
	@apply border-review-500;
}
.border-done {
	@apply border-done-500;
}
.border-finished {
	@apply border-finished-500;
}

.stroke-idea {
	@apply stroke-idea-500;
}
.stroke-do {
	@apply stroke-do-500;
}
.stroke-doing {
	@apply stroke-doing-500;
}
.stroke-review {
	@apply stroke-review-500;
}
.stroke-done {
	@apply stroke-done-500;
}
.stroke-finished {
	@apply stroke-finished-600;
}

.border-post {
	@apply border-post-500;
}
.border-video {
	@apply border-video-600;
}
.border-stories {
	@apply border-stories-500;
}
.border-todo {
	@apply border-todo-500;
}
.border-dev {
	@apply border-dev-500;
}
.border-print {
	@apply border-print-500;
}
.border-meeting {
	@apply border-meeting-500;
}
.border-finance {
	@apply border-finance-500;
}
.border-design {
	@apply border-design-500;
}
.border-ads {
	@apply border-ads-500;
}

.scrollbars {
	@apply h-full overflow-hidden overflow-y-auto pr-1;
	scrollbars-gutter: stable;
}

.scrollbars::-webkit-scrollbar {
	@apply mr-4 block w-2;
}
.scrollbars-thin::-webkit-scrollbar {
	@apply mr-4 block w-1;
}
.scrollbars::-webkit-scrollbar-button {
	@apply hidden;
}

.scrollbars::-webkit-scrollbar-track {
	@apply mr-4 bg-transparent;
}
.scrollbars::-webkit-scrollbar-track-piece {
	@apply mr-4 bg-transparent;
}

.scrollbars::-webkit-scrollbar-thumb {
	@apply rounded-full bg-transparent outline-black/10 backdrop-blur-lg transition hover:bg-gray-500/50;
}

.scrollbars-horizontal {
	@apply h-full overflow-hidden overflow-x-auto pb-1;
	scrollbars-gutter: stable;
}

.scrollbars-horizontal::-webkit-scrollbar {
	@apply mb-4 block h-2;
}
.scrollbars-horizontal-thin::-webkit-scrollbar {
	@apply mb-4 block h-1;
}
.scrollbars-horizontal::-webkit-scrollbar-button {
	@apply hidden;
}

.scrollbars-horizontal::-webkit-scrollbar-track {
	@apply mb-4 bg-transparent;
}
.scrollbars-horizontal::-webkit-scrollbar-track-piece {
	@apply mr-4 bg-transparent;
}
.scrollbars-horizontal::-webkit-scrollbar-thumb {
	@apply rounded-full bg-transparent outline-black/10 backdrop-blur-lg transition hover:bg-gray-500/50;
}

.scrollbars-horizontal::-webkit-scrollbar-thumb,
.scrollbars::-webkit-scrollbar-thumb {
	@apply bg-gray-500/25;
}

.bg-content {
	@apply border border-gray-300/15 bg-gray-300/5 outline-black/10 backdrop-blur-lg;
}

.bg-item {
	@apply font-normal px-4;
}

.bg-select-item {
	@apply font-normal pl-8 pr-4;
}

.debug-1 {
	@apply border border-red-500;
}
.debug-2 {
	@apply border border-yellow-500;
}
.debug-3 {
	@apply border border-green-500;
}
.debug-4 {
	@apply border border-sky-500;
}
.debug-5 {
	@apply border border-pink-500;
}
