@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Compasso";
  src: url("/compasso/compasso-vf.woff2?url") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@layer base {
  :root {
    --background: 220 5% 95%;
    --foreground: 220 15% 15%;
    --card: 0 0% 100%;
    --card-foreground: 224 20% 5%;
    --popover: 220 5% 90%;
    --popover-foreground: 224 20% 5%;
    --primary: 260 100% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 225 15% 100%;
    --secondary-foreground: 224 20% 5%;
    --muted: 220 20% 90%;
    --muted-foreground: 220 9% 60%;
    --accent: 220 15% 85%;
    --accent-foreground: 260 15% 20%;
    --destructive: 355 85% 55%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 50%;
    --input: 220 13% 91%;
    --ring: 250 80% 60%;
    --radius: 1rem;
  }

  .dark {
    --background: 220 30% 2%;
    --foreground: 210 50% 95%;
    --card: 220 20% 20%;
    --card-foreground: 210 50% 95%;
    --popover: 220 15% 25%;
    --popover-foreground: 210 50% 95%;
    --primary: 260 90 60%;
    --primary-foreground: 250 90% 98%;
    --secondary: 210 30% 15%;
    --secondary-foreground: 220 20% 80%;
    --muted: 215 25% 25%;
    --muted-foreground: 210 10% 60%;
    --accent: 220 15% 30%;
    --accent-foreground: 10 15% 98%;
    --destructive: 350 75% 45%;
    --destructive-foreground: 250 20% 98%;
    --border: 215 15 90%;
    --input: 215 27.9% 16.9%;
    --ring: 260 90 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

body {
  font-family: "Compasso", "sans";
}

.action-item {
  @apply relative flex w-full select-none rounded-[4px] border border-l-4 border-transparent bg-secondary shadow-sm outline-none ring-ring ring-offset-2 ring-offset-background transition focus-within:ring-2 hover:border-border hover:bg-muted focus:ring-2;
}

.action-row {
  @apply px-3 py-2;
}

.dark .action-item.action-delayed {
  @apply bg-error-950 text-error-100;
}
.action-item.action-delayed {
  @apply bg-error-100 text-error-950;
}

.action-idea {
  @apply border-l-idea hover:border-l-idea;
}
.action-do {
  @apply border-l-do hover:border-l-do;
}
.action-doing {
  @apply border-l-doing hover:border-l-doing;
}
.action-review {
  @apply border-l-review hover:border-l-review;
}
.action-done {
  @apply border-l-done hover:border-l-done;
}
.action-finished {
  @apply border-l-finished hover:border-l-finished;
}

.fg-post {
  @apply text-post-500;
}
.fg-carousel {
  @apply text-carousel-500;
}
.fg-video {
  @apply text-video-600;
}
.fg-stories {
  @apply text-stories-500;
}
.fg-todo {
  @apply text-todo-600;
}
.fg-dev {
  @apply text-dev-500;
}
.fg-print {
  @apply text-print-500;
}
.fg-meeting {
  @apply text-meeting-700;
}
.fg-finance {
  @apply text-finance-500;
}
.fg-design {
  @apply text-design-500;
}
.fg-ads {
  @apply text-ads-500;
}
.fg-sm {
  @apply text-sm-700;
}
.fg-plan {
  @apply text-plan-500;
}

.border-post {
  @apply border-post-500;
}
.border-carousel {
  @apply border-carousel-500;
}
.border-video {
  @apply border-video-600;
}
.border-stories {
  @apply border-stories-500;
}
.border-todo {
  @apply border-todo-600;
}
.border-dev {
  @apply border-dev-500;
}
.border-print {
  @apply border-print-500;
}
.border-meeting {
  @apply border-meeting-700;
}
.border-finance {
  @apply border-finance-500;
}
.border-design {
  @apply border-design-500;
}
.border-ads {
  @apply border-ads-500;
}
.border-sm {
  @apply border-sm-700;
}
.border-plan {
  @apply border-plan-500;
}

.bg-post {
  @apply bg-post-500;
}
.bg-carousel {
  @apply bg-carousel-500;
}
.bg-video {
  @apply bg-video-600;
}
.bg-stories {
  @apply bg-stories-500;
}
.bg-todo {
  @apply bg-todo-600;
}
.bg-dev {
  @apply bg-dev-500;
}
.bg-print {
  @apply bg-print-500;
}
.bg-meeting {
  @apply bg-meeting-700;
}
.bg-finance {
  @apply bg-finance-500;
}
.bg-design {
  @apply bg-design-500;
}
.bg-ads {
  @apply bg-ads-500;
}
.bg-sm {
  @apply bg-sm-700;
}
.bg-plan {
  @apply bg-plan-500;
}

.scrollbars {
  @apply h-full overflow-hidden overflow-y-auto pr-2;
  scrollbars-gutter: stable;
}

.scrollbars::-webkit-scrollbar {
  @apply mr-4 block w-2;
}
.scrollbars-thin::-webkit-scrollbar {
  @apply mr-4 block w-1;
}
.scrollbars::-webkit-scrollbar-button {
  @apply hidden;
}

.scrollbars::-webkit-scrollbar-track {
  @apply mr-4 bg-transparent;
}
.scrollbars::-webkit-scrollbar-track-piece {
  @apply mr-4 bg-transparent;
}

.scrollbars::-webkit-scrollbar-thumb {
  @apply rounded-full;
}

.scrollbars-horizontal {
  @apply h-full overflow-hidden overflow-x-auto pb-1;
  scrollbars-gutter: stable;
}

.scrollbars-horizontal::-webkit-scrollbar {
  @apply mb-4 block h-2;
}
.scrollbars-horizontal-thin::-webkit-scrollbar {
  @apply mb-4 block h-1;
}
.scrollbars-horizontal::-webkit-scrollbar-button {
  @apply hidden;
}

.scrollbars-horizontal::-webkit-scrollbar-track {
  @apply mb-4 bg-transparent;
}
.scrollbars-horizontal::-webkit-scrollbar-track-piece {
  @apply mr-4 bg-transparent;
}
.scrollbars-horizontal::-webkit-scrollbar-thumb {
  @apply rounded-full;
}

.scrollbars-horizontal::-webkit-scrollbar-thumb,
.scrollbars::-webkit-scrollbar-thumb {
  @apply bg-card transition hover:bg-popover;
}

.bg-content {
  @apply border border-white/75 bg-popover/10 ring-1 ring-black/5 backdrop-blur-xl;
}

.dark .bg-content {
  @apply border-border ring-black/50;
}

.bg-item {
  @apply flex gap-2 px-4;
}

.bg-select-item {
  @apply pl-8 pr-4;
}

.debug-1 {
  @apply border border-red-500;
}
.debug-2 {
  @apply border border-yellow-500;
}
.debug-3 {
  @apply border border-green-500;
}
.debug-4 {
  @apply border border-sky-500;
}
.debug-5 {
  @apply border border-pink-500;
}

.editor-tiptap {
  @apply flex min-h-full flex-col;
}

.editor-tiptap > div:nth-child(2) {
  @apply flex flex-1 shrink-0 flex-col;
}

.tiptap {
  @apply flex-1 shrink-0 text-lg tracking-tight outline-none;
}

.tiptap > * {
  @apply mb-2;
}

.tiptap h1 {
  @apply text-4xl font-bold tracking-tight;
}
.tiptap h2 {
  @apply text-2xl font-bold tracking-tight;
}
.tiptap h3 {
  @apply text-xl font-bold uppercase tracking-wide;
}
.tiptap h4 {
  @apply text-xl font-bold tracking-tight;
}
.tiptap h5 {
  @apply text-base font-bold uppercase tracking-wider;
}

.tiptap ul,
ol {
  padding: 0 2rem;
}

.tiptap ul {
  list-style: disc;
}
.tiptap ol {
  list-style: decimal;
}

/* .main-container:hover .item-container:not(:hover) {
  opacity: 0.25;
} */

.dragover {
  @apply bg-secondary/50;
}

#calendar > * {
  @apply border-b;
}
